.select-container {
    margin-bottom: 10px;
  }
  
  .select-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .select-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .select-container select:hover {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  